:root {
  --main-bg-color: #090c10;
  --main-bg-color-inset: #0d1117;
  --main-bg-color-light: #161b22;
  --text-color-inset-primary: #c9d1d9;
  --text-color-inset-secondary: #d8dfe7;
}

html {
  text-align: center;
  background-color: var(--main-bg-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
